//fuentes
$fuente: 'Roboto', sans-serif;

//media querys
$telefono: 480px;
$tablet: 768px;
$laptop: 1024px;

//colores
$claro: #fcfcfc;
$color1: #0088cc;
$color2: lighten($color1, 25%);
$color3: lighten($color1, 50%);
$gris: rgb(0, 0, 0, 0.66);
$negro: #000;
$blanco: #fff;
// $gris: #d1d1d1;