@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$color1;
    padding-top: 4rem;
}

.cont-footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-logo{
        margin-bottom: 8rem;

        .logo-footer{
            display: flex;
            flex-direction: column;
            font-size: 5rem;
            color: v.$blanco;
        }

        a{
            text-align: center;
        }

        h3{
            color: rgb(255, 255, 255, 0.66);
            font-weight: 400;
            text-align: center;
        }
    }

    .redes{
        margin-bottom: 1rem;

        i{
            color: v.$blanco;
            font-size: 4rem;

            &:first-child{
                margin-left: 1rem;
            }

            &:active{
                color: v.$color3;
            }

            @include m.tablet{
                &:hover{
                    color: v.$color3;
                    transition: 100ms;
                }
            }
        }
    }

    p{
        text-align: center;
        color: v.$blanco;
    }
}